.cards {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 24px;
}

/* Card */
.card {
  border-radius: 8px;
  width: 300px;
  height: content;
  overflow: hidden;
  box-shadow: 2px 2px 8px 0px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 16px;
  object-fit: cover;
}

.card div {
  width: 70%;
  margin: 8px auto;
  text-align: center;
}

@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .card {
    width: 90%;
    min-width: 180px;
  }
}
